p{
    background-color: aquamarine;
    color: black;
}
small{

    background-color: bisque;
    font-size: larger;
    width: 50px;
    font-weight: 50px;
}
img{
     width: 500px;
     border: 5px solid green;
     margin: 10px;
     padding: 10px;
}